<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="public/less/main.css">
	<link rel="stylesheet" href="public/less/guanbi.css">
</head>
<body ng-app="yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:collapsed}" ng-controller="navCtr">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="public/images/avatar.png" alt="avatar">
					</div>
					<span><a href="baidu.com" target="_self">未登录</a></span>
				</dt>
				<dd ng-class="{active:key==0}" ng-repeat="(key,nav) in datas" ng-click="toggle()"><a href="{{nav.url}}" class="{{nav.icon}}">  <span>{{nav.txt}}</span></a></dd>
			
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:collapsed}" >
				<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
				<a href="#" class="bell icon-bell"></a>
			</div>
			
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:collapsed}">
			<!-- 使用自定义指令添加loading的img节点 -->
				<div loading src="./public/images/loading.gif" ng-hide="loaded"></div>
				<div ng-view></div>
			</div>
		</div>
	</div>
</body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/directives.js"></script>
</html>